#wc-comment-header{
    padding:20px 5px 1px 5px;
    display:block; 
    float:none;
    clear:both;
    font-size:18px;
}
#wpcomm form div{ box-sizing: inherit; } 
#wpcomm form .wpdiscuz-item {
    display: block;
    height:auto; 
}
.wpdiscuz-item input { 
    border-radius:0px;
    height:auto; 
    width:auto;
}
#wpcomm { 
    margin:15px 5px; 
    padding:1px 0px 10px 0px;
    border-top:#DDDDDD solid 1px; 
} 
#wpcomm form {
    margin:0px; 
    padding:0px; 
    background:none;
    border:none; 
    width:auto !important;
} 
#wpcomm form div{ margin:0px; } 
#wc_show_hide_loggedin_username{ 
    padding:10px 5px 5px 5px;
    font-size:13px; 
}
#wpcomm .wc_new_comment_and_replies {
    margin:0px; 
    padding:0px; 
    width:100%; 
    height:auto;
    background:transparent;
}
#wpcomm .wc_new_comment_and_replies .wc_new_comment{ 
    float:right; 
    display:none;
    padding:3px 10px; 
    font-size:12px;
    margin:1px 0px 1px 3px; 
    cursor:pointer;
    color:#fff; 
    line-height: 15px;
}

#wpcomm .wc_new_comment_and_replies .wc_new_reply{ 
    float:right; 
    display:none; 
    padding:3px 10px; 
    font-size:12px; 
    margin:1px 0px 1px 1px;
    cursor:pointer;
    color:#fff;
    line-height: 15px;
} 

#wpcomm .wc-comment-title{
    margin:0px; 
    line-height:18px;
    font-weight:bold; 
    padding:10px;
    margin-bottom:10px;
    font-size:13px;
    text-align:right; 
    border-bottom:#CCCCCC dotted 1px;
    padding-bottom:10px;
} 
#wpcomm .wc-form-wrapper{
    padding:10px; 
    margin-top:20px;
    border:1px solid #F1F1F1;
} 
#wpcomm .wc-author-data{ margin-bottom:3px; } 
#wpcomm .wc-field-submit{ padding:5px 0px 13px 0px; } 
#wpcomm .wc-field-name{ 
    width:49%; 
    float:left; 
} 
#wpcomm .wc-field-email{ 
    width:49%;
    float:right;
    text-align:right; 
} 
#wpcomm .wc-field-comment{ margin:5px auto 1px auto; } 
#wpcomm .wc-field-comment .wc-field-avatararea{ 
    width:60px; 
    float:left;
} 
#wpcomm .wc-field-comment .wc-field-textarea{ margin-left:65px; } 
#wpcomm .wc-field-captcha{
    width:55%;
    float:left; 
    margin:0px; 
    height:auto!important;  
} 
#wpcomm .wc-field-submit{ 
    width:auto!important;
    float:right; 
    text-align:right;
    margin:0px;
} 
#wpcomm .wc-field-name input[type="text"]{
    width:99%;
    max-width:100%;
    padding:3px 5px; 
    font-size:14px;
    margin:0px;
    height:29px; 
}

#wpcomm .wc-field-email input[type="email"]{ 
    width:100%;
    max-width:100%;
    padding:3px 5px; 
    font-size:14px;
    margin:0px; 
    height:29px; 
} 
#wpcomm .wc-field-captcha input[type="text"]{ 
    width:40%;
    min-width:82px; 
    padding:3px 5px;
    font-size:14px;
    margin:0px 5px 0px 0px;
    height:27px; 
}
#wpcomm .wc-field-submit input[type="submit"]{ margin:1px; } 
#wpcomm .wc-field-submit input[type="button"]{
    margin:1px; 
    border:#DDDDDD 1px solid;
    font-size: 13px;
    line-height: 16px; 
    padding: 6px 15px; 
    clear:both; 
    float:none; 
}
#wpcomm .captcha_msg{ 
    color: #999999;
    font-family: Lato,sans-serif; 
    font-size: 13px; 
    line-height: 18px; 
    display:block;
    clear:both;
    padding:5px 0px 0px 0px;
} 
#wpcomm .wc-field-comment textarea,
#wpcomm .wc-comment .wc-comment-right textarea { 
    width:100%; 
    max-width:100%;
    height:48px;
    min-height: 48px !important;
    padding:5px;
    box-sizing: border-box;
    border-radius:0px; 
}

#wpcomm .wc-label{ 
    display:block;
    font-size:14px;
    padding:5px; 
}
#wpcomm .wc_manage_subscribtions {
    cursor: pointer;
    padding: 0px 0px 5px 0px;
    display: block; 
    font-size:13px;
    line-height:16px;
} 

#wpcomm .wc_notification_checkboxes{ 
    padding:7px 0px 7px 0px; 
    text-align:left; 
    display: none;
    border-top: 1px dotted #DDDDDD;
    line-height:18px;
    font-size:13px;
} 
#wpcomm .wc_notification_checkboxes input[type="checkbox"],
#wpcomm .wc_notification_checkboxes input[type="radio"]{ 
    overflow:none;
    width:inherit; 
    font-size:13px;
    margin:0px;
    padding:0px;
    display:inline; 
    clear:both;
    float:none;
    max-height: 20px;
    margin:0px 3px; 
} 
#wpcomm .wc_notification_checkboxes label { 
    clear:both; 
    float:none;
    font-weight:normal; 
} 
#wpcomm .wc-label-comment-notify { 
    display:inline; 
    font-size:13px;
    padding:0px; 
    margin:0px;
    border:none; 
    line-height:15px; 
    text-decoration:none;
    color:#999999; 
    font-family:Lato,sans-serif; 
    cursor:pointer;
} 

#wpcomm .wc-label-reply-notify,
#wpcomm .wc-notification-none { 
    display:inline; 
    font-size:13px;
    padding:0px;
    margin:0px;
    border:none; 
    line-height:15px;
    text-decoration:none; 
    color:#999999; 
    font-family:Lato,sans-serif; 
    cursor:pointer; 
} 
#wpcomm .wc-label-all-reply-notify { 
    display:inline; 
    font-size:13px; 
    padding:0px; 
    margin:0px;
    border:none;
    line-height:15px;
    text-decoration:none;
    color:#999999; 
    font-family:Lato,sans-serif;
    cursor:pointer;
} 
#wpcomm .wc-field-captcha .wc-label{ 
    font-size:14px;
    padding:5px; 
    text-align:center; 
    display:inline; 
} 
#wpcomm input[type="text"],
#wpcomm input[type="email"], 
#wpcomm textarea{ 
    font-size:14px; 
    color:#777777;
    font-family:Lato,sans-serif;
    box-sizing: border-box;
    margin:0px;
    clear:both;
    float:none; 
    display:inline; 
}
#wpcomm .wc-copyright{
    margin: 0px 0px 0px auto;
    text-align:right;
    display: block;
    padding-top: 2px;
} 
#wpcomm .wc-copyright a{
    font-size: 9px;
    color: #AAAAAA;
    cursor:help;
    text-decoration:none; 
    margin:0px;
    padding:0px; 
    border:none;
} 
#wpcomm .wc-thread-wrapper{
    padding:10px 0px;
    margin-bottom:10px;
}
#wpcomm .wc-comment { margin-bottom:13px; } 
#wpcomm .wc-comment .wc-field-submit{ padding:5px 0px 5px 0px; } 
#wpcomm .wc-comment .wc-form-wrapper{ padding:10px 10px 7px 10px; } 
#wpcomm .wc-comment .wc-comment-left{
    width:62px;
    float:left;
    position:absolute;
    text-align:center;
    font-family:Lato,sans-serif;
    line-height:16px; 
} 
#wpcomm .wc-comment .wc-comment-right{ 
    margin-left:70px; 
    border:#F5F5F5 1px solid; 
    padding:10px 10px 3px 10px;
}
#wpcomm .wc-reply .wc-comment-right{
    margin-left:70px; 
    border:#F5F5F5 1px solid;
    padding:10px 10px 3px 10px; 
}
#wpcomm .wc-reply {
    margin-top: 10px;
    margin-bottom:0px;
    margin-left:40px; }
#wpcomm .wc-must-login{  
    margin:0px;
    font-size:14px;
    line-height:16px;
    padding:10px; 
    text-align:center; 
}
#wpcomm hr{
    background-color: rgba(0, 0, 0, 0.1); 
    border: 0 none; 
    height: 1px; 
    margin:10px 0px; 
} 
#wpcomm .avatar{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px; 
    margin:0px auto;
    float:none; 
    display:inline;
    width:48px; 
    height:auto;
}
#wpcomm .wc-form-wrapper .avatar { margin-top:3px; }
#wpcomm .wc-comment-text{ 
    text-align:left; 
    padding-bottom:5px;
    line-height: 20px; 
    /*white-space: pre-wrap;*/ 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; white-space: -o-pre-wrap; 
    word-wrap: break-word;
} 
#wpcomm .wc-comment-text img {
    max-width: 90%; 
    height: auto;
}
#wpcomm .wc-comment-header{ 
    margin-bottom:7px; 
    font-family:Lato,sans-serif; 
} 
#wpcomm .wc-comment-author{ 
    font-size:16px;
    width:40%;
    float:left;
    white-space:nowrap; 
} 
#wpcomm .wc-comment-author a{ 
    font-size:16px; white-space:nowrap;
    text-decoration:none; 
}
#wpcomm .wc-comment-label{
    color:#FFFFFF;
    padding:2px 5px; 
    font-size:12px;
    margin:4px auto; 
    text-align:center; 
    display:table; 
    line-height:16px; 
}
#wpcomm .wc-comment-date{ 
    font-size:12px;
    color:#999999;
    float:right; 
    text-align:right; 
    white-space:nowrap;
    line-height:27px;
} 
#wpcomm .wc-comment-footer { 
    font-size:12px;
    font-weight:normal;
    color:#999999;
    margin-top:12px;
    min-height: 28px;
    font-family:Lato,sans-serif;
} 
#wpcomm .wc-comment-footer a, 
#wpcomm .wc-comment-footer span.wc_editable_comment,
#wpcomm .wc-comment-footer span.wc_save_edited_comment,
#wpcomm span.wc_cancel_edit { 
    text-decoration:none;
    font-size:13px; 
    font-weight:bold; 
    cursor: pointer;
}
#wpcomm .wc-comment-footer .share_buttons_box img{ vertical-align:middle; } 
#wpcomm .wc-comment-footer .wc-voted{ 
    color:#666666;
    cursor:default;
} 
#wpcomm .wc-comment-footer .wc-vote-img-up{
    padding:0px;
    margin:0px 0px -2px 0px; 
    vertical-align:baseline; 
    display:inline; 
    float:none;
    clear:both; 
    border:none; 
    background:transparent;
    width:16px;
    height:16px;
    border-radius: 0px;
    box-shadow: none;
    box-sizing: border-box;
}
#wpcomm .wc-comment-footer .wc-vote-img-down{
    padding:0px;
    margin:0px 0px -6px 0px;
    vertical-align:baseline;
    display:inline; 
    float:none;
    clear:both; 
    border:none;
    background:transparent;
    width:16px;
    height:16px;
    border-radius: 0px;
    box-shadow: none; 
    box-sizing: border-box; 
}
#wpcomm .wc-comment-footer .wc-vote-result{
    padding:2px 6px 2px 5px; 
    color:#FFFFFF; 
    font-size:12px; 
    font-weight:bold; 
    display:inline; 
    margin-right:5px;
} 
#wpcomm .wc-toggle{
    float:right; 
    text-align:right;
    padding-right:0px;
    margin-right:0px;
    color:#999999;
    cursor:pointer;
    font-size:12px;
    white-space:nowrap; 
}
#wpcomm .wpdiscuz-item { 
    background: none;
    border-radius: 0px;
    box-shadow: none;
} 
#wc_response_info img{ 
    margin: 0px auto 0px auto; 
    box-shadow: none; 
} 
#wpcomm .share_buttons_box img {
    display:inline!important;
    width:16px; 
    height:16px;
}
#wpcomm .wc-captcha-label img{ 
    display: inline!important; 
    border:none; 
    padding:0px 0px 0px 2px;
    margin:0px; 
    vertical-align:middle; 
}
#wpcomm .wc-reply-link, 
#wpcomm .wc-vote-link,
#wpcomm .wc-share-link {
    cursor: pointer;
    font-size:13px;
    font-weight:bold; 
}
#wpcomm .wc-form-footer,
#wpcomm .wc-secondary-forms-wrapper {display: none;}
#wpcomm .wc-field-captcha .wc-captcha-label { 
    padding: 0;
    display: inline-block; 
} 
#wpcomm .wc_captcha_refresh_img {
    cursor: pointer; 
    margin-left: 3px;
}
#wpcomm .share_buttons_box {
    display: none;
} 
#wpcomm .wc-no-left-margin {
    margin-left: 0 !important;
} 
div.wc_modal { 
    background: none repeat scroll 0 0 #EDEDED;
    color:#444444; 
    font-size: 18px; 
    font-weight: normal;
    padding: 45px 10px 50px 10px!important;
    text-align: center; 
    line-height:25px;
}
.wc-load-more-submit-wrap { 
    width: 100%; 
    text-align: center;
    margin-bottom:20px;
    margin-top:25px;
}
.wc-load-more-submit { 
    width: auto!important;
    padding:10px 20px; 
    text-align: center;
    background-color:#FAFAFA;
    border-radius: 3px;
    color:#555555;
    cursor:pointer; 
} 
.wc-load-more-submit:hover{ 
    background-image: -moz-linear-gradient(center top , #f4f4f4, #e6e6e6);
    background-repeat: repeat-x;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
    color: #7c7c7c; 
} 
#wc_openModalFormAction > div#wc_response_info {
    width: 200px; 
    background: none repeat scroll 0 0 #EDEDED;
    color:#444444; 
    font-size: 18px; 
    font-weight: normal; 
    padding: 45px 10px 50px 10px!important;
    text-align: center;
    line-height:25px;
} 
#wc_openModalFormAction > div#wc_response_info a.close {
    background-position-x: right;
    background-position-y: top; 
} 
#wpcomm #bywpdiscuz{
    display:none;
} 
#wpcomm .by-wpdiscuz{ 
    text-align:right;
    border-top:#DDDDDD solid 1px;
    padding:1px 1px 1px 1px;
} 
#wpcomm .by-wpdiscuz a{ 
    font-size:11px;
    font-weight:bold;
    text-align:right;
    color:#CCCCCC;
    padding:1px;
    margin:0px; 
    line-height:12px;
    border:none;
    text-decoration:none; 
} 
#wpcomm .wpdimg{ 
    border:none;
    padding:0px; 
    margin:0px;
    height:12px; 
    cursor:pointer;
    display:inline;
    clear:both;
} 
#wc_unsubscribe_message {
    margin:10px auto 1px auto;
    padding:10px; 
    text-align:center;
    border:#00DD00 1px dotted;
    background:#CCFFCC;
} 
.wc_unsubscribe_message {
    font-size:14px; 
    color:#444; 
}
#wpcomm .wc_comment_level-3 { margin-left: 40px!important; }
#wpcomm .wc_comment_level-4 { margin-left: 40px!important; } 
#wpcomm .wc_comment_level-5 { margin-left: 40px!important; }
#wpcomm .wc_editable_div {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea; 
    border: 1px solid #ccc;
    border-radius: 0;
    font: medium -moz-fixed; 
    font: -webkit-small-control;
    overflow: auto;
    resize: both; 
    box-sizing: border-box;
    height: 46px; 
    max-width: 100%; 
    min-height: 46px !important;
    padding: 5px; width: 100%; 
} 
#wpcomm .wc_cancel_edit {display: none;}
#wpcomm .wc-comment-text p {margin-bottom: 10px;} 
#wpcomm .wc-comment-right textarea.wc_edit_comment {
    height: 80px; 
    max-height: 200px;
}

